In [1]:
1+1

2

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list(range(2,22))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

2から始まるときは、2から書き始めて21で終わりたいときは、22にしないと21が入らない。

In [7]:
name='Yabuki'

In [8]:
len(name)

6

In [9]:
name.upper()

'YABUKI'

len(name)は長さを表している。対象が班でもよくて使える。
name.upperが文字列専用。メソッドという。問題２６

In [11]:
address = 'Tokyo,Japan'
address.split(',')

['Tokyo', 'Japan']

splitは区切ってくれる。ここでは、カンマで区切ってと言ってるからカンマで区切られる。

In [12]:
address = 'Tokyo,Japan'
address.split('o')

['T', 'ky', ',Japan']

これだと、oの所で区切られる。なくなるという表現よりは・・・

In [14]:
address.index('T')

0

In [15]:
address.index('p')

8

indexとは、検索の事。（）の中にある文字がどこにあるかを指している。
一文字目は、０と表示される。

In [16]:
address.index('o')

1

tokyoは、oが二つあるが、左から数えるため、見つけたら終わり。

In [17]:
address.upper()

'TOKYO,JAPAN'

メソッドは全部（）つける。upperがあったら文字列（大文字）に返してくれる。

In [19]:
address.lower()

'tokyo,japan'

文字列を小文字にする。

In [20]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 1, 5)
result = date_b - date_a
print(result)

4 days, 0:00:00

何日後なのかを求められる。

In [21]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2009, 1, 1)
result = date_b - date_a
print(result)

366 days, 0:00:00

うるう年も計算してくれる！！！！！！！！

In [22]:
date_a.year

2008

date_a=2008ねん一月事
何年かっていう質問。

date_a.year
括弧なし：データにアクセスする方法
↑属性
name.upper()
括弧あり：何らかの処理をする
↑メソッド                        ↓大事
メソッドと属性を合わせたものを、オブジェクトという。

In [25]:
date_a.month

1

In [26]:
date_a.day

1

In [43]:
date.today()

datetime.date(2017, 5, 17)

In [44]:
birthday=date(1997,4,4)

In [45]:
today=date.today()

In [46]:
result=today-birthday

In [47]:
print(result)

7348 days, 0:00:00

In [40]:
today.weekday()

2

In [41]:
date_a

datetime.date(2008, 1, 1)

In [42]:
date_a.weekday()

1

0123456
月火水木金土日

|date|
|:--|
|year|
|month|
|day|
|:--|
|weekday()|

In [48]:
date_c=date(2005,5,5)

In [49]:
tmp='2005,5,5'

In [50]:
tmp2=(2005,5,5)

48は日付データだけど、49と50はこんぴゅーt－からしたらただのデータ。